#mainlogo {
  height: 60px;
  max-width: 100%;
}

h1.trey {
  color: #e10600;
  size: 28pt;
}

h3.test {
  color: #000080;
  size: 22pt;
}

.hrdivider {
  color: #e10600;
  size: 1px;
}

.navbar {
  background-color: #e10600;
}

.nav-link {
  color: #fff;
}

.driverPortrait {
  border-style: outset;
  border-color: #e10600;
  border-width: thin;
}

.driverPortrait:hover {
  border-width: thick;
}

.driverContainer h6 {
  font-family: Georgia;
}

