#mainlogo {
  height: 60px;
  max-width: 100%;
}

h1.trey {
  color: #e10600;
  size: 28pt;
}

h3.test {
  color: #000080;
  size: 22pt;
}

.hrdivider {
  color: #e10600;
  size: 1px;
}

.navbar {
  background-color: #e10600;
}

.nav-link {
  color: #fff;
}

.driverPortrait {
  border-style: outset;
  border-color: #e10600;
  border-width: thin;
  height: 100px;
  width: 100px;
  transition: ease-in-out, height, width 0.75s;
}

.driverPortrait:hover {
  border-width: thick;
  height: 175px;
  width: 175px;
}

.driverContainer h6 {
  font-family: Georgia, sans-serif;
}

.draftContainer h5 {
  font-family: "Script MT Bold", serif;
}

body {
  background-color: #222222;
}

/*added, need to remove to place in sass */
.scoring-navbar {
    background-color: gray;
    overflow: hidden;
}
.dropdown {
    position: relative;
    display: flow;
    direction: rtl;
}
.dropbtn {
    background-color:darkgray;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
 .dropdown-content {
     display: none;
     position: relative;
     float: right;
     background-color: gray;
     min-width: 50px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 0;
 }

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {display: inline-flex;}



